/*-----------header------------*/

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}
header nav li {
    display: inline;
    float: right;
    margin-bottom: 60px;
}
header nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 24px 26px;
    text-decoration: none;
}

header nav li a:hover {
    background-color: #3DB24F;
}
header a {
    display: block;
    padding: 20px;
    background-color: #dddddd;
}

.logo {
    margin-left: 0px;
    margin-top: 0px;
    width: 120px; 
    height: 120px;
    position: fixed;
} 

.banner {
    display: block;
    width: 100%;
    max-width: 2000px;
    margin: 40px auto;
    margin-bottom: 0px;
    max-height: 200px;
    overflow: hidden;
    height: 1920px;
    position: relative;
}
#container {
    margin-left: 3%;
}

h1 {
    font-size: 35px;
    color: #006637;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 90px;
    margin-bottom: 60px;
    text-align: center;
}
h2 {
    font-size: 25px;
    color: #3D3D3D;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 120px;
    margin-right: 120px;
}

h3 {
    font-size: 20px;
    color: #624017;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 120px;
    margin-right: 120px;
}

body {
    font-size: 20px;
    color: #7A7A7A;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
}
p {
    margin-left: 120px;
    margin-right: 120px;
}

ul {
    margin-left: 120px;
    margin-right: 120px;
}
/*-----------footer------------*/

footer {
    width: 100%;
    background-color: #dddddd padding: 60px 0px;
}
footer nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #dddddd;
}
footer nav li {
    display: inline;
    float: center;
}
footer nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.active {
    background-color: #3DB24F;
}

footer nav li a:hover {
    background-color: #3DB24F;
}
footer a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}